<body class="common-structure">
    <header>
        <button id="returnToMenu" onclick="exitModule();"> <svg width="24" height="24"
                xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path
                    d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z" />
                </svg> </button>
        <div id="module-name">
            <h1>Ben's Story</h1>
            <h3>Interaction</h3>
        </div>

        <section id="modal-blackout" class="no-modal"> </section>
        <section id="modal" class="no-modal">

            <h3 id="on-examination-review">On Examination</h3>
            <h3 id="chest-xr-review">Chest XR</h3>
            <article id="on-examination-review-content">
                <p>
                    Ben is a 3-month old infant, brought into ED by his parents
                    <ul>
                        <li>Ben has had intermittent difficulty breathing for the past week.</li>
                        <li>He tires during breast feeds and sometimes becomes sweaty during feeds.</li>
                        <li>He has had no cough, no rhinorrhoea and no fevers.</li>
                        <li>His parents have noticed he is breathing fast.</li>
                        <li>He has not put on much weight in the past 3 weeks.</li>
                    </ul>
                    <h4>Background History</h4>
                    <ul>
                        <li>Elective LSCS at 38 weeks, uncomplicated pregnancy</li>
                        <li>He didn't require resuscitation or admission to Special Care Nursery or NICU </li>
                        <li>Apgar scores 8 (1 minute) and 9 (5 minutes)</li>
                        <li>Birth weight: 3300g (40th centile)</li>
                        <li>Immunisations: received birth and 6 weeks</li>
                        <li>No other known medical problems, admissions or operations</li>
                        <li>Family Hx: nil significant, one 7-year old brother who is well</li>
                    </ul>
                    <h4>On Examination</h4>
                    Ben looks unwell with increased work of breathing and a vigorous cry
                    <ul>
                        <li>Growth: looks small for his age; weight 5kg (3rd centile); was 25th centile at 6-week
                            immunisation</li>
                        <li>No dysmorphic features</li>
                        <li>Vitals: HR 162 per minute; RR 68; SpO2 98% in air; afebrile; capillary refill 3 seconds</li>
                    </ul>
                    Respiratory:
                    <ul>
                        <li>subcostal and intercostal recessions with abdominal breathing</li>
                        <li>no stridor, tracheal tug or nasal flaring</li>
                        <li>auscultation: widespread bilateral crepitations with scattered wheeze</li>
                    </ul>
                    Cardiac:
                    <ul>
                        <li>normal 1st and 2nd heart sounds</li>
                        <li>3/6 pansystolic murmur at the left lower sternal edge</li>
                        <li>palpable femoral pulses</li>
                    </ul>
                    Abdomen:
                    <ul>
                        <li>soft and non-tender</li>
                        <li>liver edge 2cm below right costal margin</li>
                    </ul>
                </p>
            </article>
            <article id="chest-xr-review-content">
                <img class="chest-xr" src="images/XRAY/Ben_XR.jpg">
            </article>
        </section>
        <button id="case-content-button" onclick="showReviewModal();"><img src="images/case-content.svg"></button>
    </header>
    <section class="content module-slide">
        <h1>Interact</h1>
        <p class="case-content">
            For this stage of the module, you will be using a physical model of the paediatric heart case #19041 and a
            digital interactive model.
        </p>
        <p id="interaction-case-content-button-explanation" class="case-content">
            All the case content you reviewed will be available to you in the case button.
        </p>
        <p class="case-content">
            It will be helpful as you interact with the models as the module progresses.
        </p>
    </section>
    <section class="activity module-slide">
        <article id="toggles">
            <form id="model-toggles">
                <input type="radio" name="render-type" id="clear" value="clear">
                <label for="clear">Clear</label>
                <input type="radio" name="render-type" id="segments" value="segments">
                <label for="segments">Segments</label>
                <input type="radio" name="render-type" id="realistic" value="realistic" checked>
                <label for="realistic">Realistic</label>
            </form>
            <h5>Labels
                <form id="model-toggles">
                    <input type="radio" name="part-labels" id="on" value="labels-on" checked>
                    <label for="on">On</label>
                    <input type="radio" name="part-labels" id="off" value="labels-off">
                    <label for="off">Off</label>
                </form>
            </h5>
        </article>
        <p class="step">Refer to Specimen 17040
        </p>
        <p class="step"><strong>1. Orient the heart so that you are looking at the posterior aspect.</strong>
            Can you identify the two atrial appendages?
        </p>
        <p class="step"><strong>2. Identify the right atrium and follow it down into its corresponding
                ventricle</strong>
            Can you identify the features differentiating right from left ventricles?
        </p>
        <p class="step"><strong>3. Identify the right ventricular outflow tract</strong>
        </p>
        <p class="step"><strong>4. Identify the left atrium and follow it down into its corresponding ventricle</strong>
            Does this have the features of a left ventricle?
        </p>
        <p class="step"><strong>5. Identify the left ventricular outflow tract</strong></p>
        <p class="step"><strong>6. Identify any inter-atrial communications.</strong>
            Can you pass a pipe-cleaner through the defect?
        </p>
        <p class="step"><strong>7. Identify any inter-ventricular communications.</strong>
            Can you pass a pipe-cleaner through the defect?
        </p>
        <p class="step"><strong>8. Follow the left ventricular outflow tract into the aortic arch.</strong>
            Can you identify the remnant ligamentum arteriosum or a patent ductus arteriosus?
        </p>
        <div id="heart-model">

        </div>
    </section>
    <section class="activity module-slide">
        <h1>How would you summarise the cardiac defects you have identified?</h1>

        <p class="case-content">
            Think carefully about your answer before you proceed to the next page.
        </p>
    </section>
    <section class="activity module-slide">
        <h1>How would you summarise the cardiac defects you have identified?</h1>
        <h3>
            Cardiac Specimen Explanation:
        </h3>
        <p class="case-content">
            This heart demonstrates atrio-ventricular and ventriculo-arterial concordance. There is a small patent
            foramen ovale (PFO) and a large sub-pulmonary ventricular septal defect. There is right ventricular
            hypertrophy. There is a suggestion of aortic hypoplasia. Note the classic relationship of the great vessels
            – they spiral around each other as they leave the heart, with the aorta located posteriorly.
        </p>
    </section>
    <section class="activity module-slide">
        <p class="case-content">
            Well done on the heart interaction! Proceed to the Explanation Section!
        </p>
    </section>
    <button id="previous" class="nav-button" onclick="nextSlide(-1)"> <svg width="24" height="24"
            xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z" /></svg>
    </button>
    <button id="next-module" class="text-button" onclick="nextModule()">Explanation</button>
    <button id="next" class="nav-button" onclick="nextSlide(1);"><svg width="24" height="24"
            xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
            </svg></button>
    <section id="navigation-tab">
        <a onclick="jumpSection('17040-oe.html', 'Case Examination');">Case Examination</a>
        <a onclick="jumpSection('17040-interaction.html', 'Interaction');">Interaction</a>
        <a onclick="jumpSection('17040-explanation.html', 'Explanation');">Explanation</a>
    </section>
</body>
<script src="js/main-workshop-interaction.js"></script>
<script src="js/three.js"></script>
<script src="js/STLLoader.js"></script>
<script src="js/OrbitControls.js"></script>
<script src="js/dat.gui.js"></script>
<script src="js/model-interaction-script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="js/CSS2DRenderer.js"></script>