

<body class="common-structure">
    <button id="returnToMenu" class="none back" onclick="returnToMenu();"> <svg width="36" height="36"
            xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z" /></svg>
    </button>
    <h1>3D Hearts Workshop</h1>
    <section id="index-menu" class="menu">
        <a id="pre-workshop-link" onclick="preWorkshop();">Pre-Workshop Module</a>
        <a id="main-workshop-link" onclick="mainWorkshop();">Main Workshop Module</a>
        <a id="post-workshop-link" onclick="postWorkshop();">Post-Workshop Module</a>
    </section>

    <section id="pre-workshop-menu" class="menu none">
        <a href="pre-workshop-module">Revisit your knowledge of Healthy Heart Anatomy with an Interactive 3D Heart
            Model</a>
    </section>

    <section id="main-workshop-menu" class="menu none">
        <a href="17040-OE.html">Case #17040</a>
        <a href="main-workshop-module.html">Case #19041</a>
        <a href="main-workshop-module.html">Case #16751</a>
        <a href="main-workshop-module.html">Case #17863</a>
    </section>

    <section id="post-workshop-menu" class="menu none">
        <a href="post-workshop-module.html">Case #17040</a>
        <a href="post-workshop-module.html">Case #19041</a>
        <a href="post-workshop-module.html">Case #16751</a>
        <a href="post-workshop-module.html">Case #17863</a>
    </section>

</body>
<script src="js/index.js"></script>