

<body id="index" class="common-structure">
    <header>
        <div id="menu-title-div">
            <button id="returnToMenu" class="back" onclick="returnToMenu();">
                <img src="images/menu-heart-grey.svg" alt="menu button">
            </button>
            <div>
                <h1>Cardiac Cases</h1>
                <h3>Workshop Module</h3>
            </div>
        </div>
        <img id="case-doctor" src="images/illustrations/landing-page.svg" alt="case doctor">
        {{!-- <div id="shading"></div> --}}
    </header>

    <section id="index-menu" class="menu">
        <a id="pre-workshop-link" onclick="preWorkshop();">Pre-Workshop Module</a>
        <a id="main-workshop-link" onclick="mainWorkshop();">Main Workshop Module</a>
        <a id="post-workshop-link" onclick="postWorkshop();">Post-Workshop Module</a>
    </section>

    <section id="pre-workshop-menu" class="menu none">
        <a href="pre-workshop-module">Revisit your knowledge of Healthy Heart Anatomy with an Interactive 3D Heart
            Model</a>
    </section>

    <section id="main-workshop-menu" class="menu none">
        <article ><a onclick="moduleStart('ben');">Start</a><h4 id="ben">Ben's Story</h4><img src="images/ben-profile-recrop.png" alt="Ben"></article>
        <article ><a onclick="moduleStart('ayanthi');">Start</a><h4 id="ayanthi">Ayanthi's Story</h4><img src="images/ayanthi-profile-recrop.png" alt="Ayanthi"></article>
        <article ><a onclick="moduleStart('amin');">Start</a><h4  id="amin">Amin's Story</h4><img src="images/amin-profile-recrop.png" alt="Amin"></article>
        <article ><a onclick="moduleStart('richardson');">Start</a><h4 id="richardson">Richardson's Story</h4><img src="images/richardson-profile-recrop.png" alt="Richardson"></article>
    </section>
    
    <section id="start-module" class="none">
        <img>
        <h4></h4>
        <a>Explore</a>
    </section>

    <section id="post-workshop-menu" class="menu none">
        <a href="post-workshop-module.html">Case #17040</a>
        <a href="post-workshop-module.html">Case #19041</a>
        <a href="post-workshop-module.html">Case #16751</a>
        <a href="post-workshop-module.html">Case #17863</a>
    </section>

</body>
<script src="js/index.js"></script>