/* //////////////// FONTS /////////////// */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,423&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

p, ul, ol, li, button, a, label, h5, .model-label {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}

label, h5, .model-label {
    font-style: normal;
    font-weight: 600;
}

/* /////////////// UNORDERED LISTS /////////////// */
ul {
    list-style-type: disc;
}

li {
    margin-left: 28px;
}

/* //////////////// SWAL /////////////////// */
button.swal2-confirm.swal2-styled {
    background-color: #595959;
}

button.swal2-styled {
    font-weight: 600;
    border-radius: 3px;
}

/* /////////////////// DISPLAY AND VISIBILITY STATES CLASSES /////////////////// */
.none {
    display: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.disabled {
    visibility: hidden;
}

.enabled {
    visibility: visible;
    display: flex;
}

/* //////////////// BUTTONS //////////////// */
button {
    background-color: transparent;
    border: none;
    /* padding-right: 24px; */
    padding: 0;
}

button:hover {
    cursor: pointer;
}

.back path {
    transform: scale(1.5)
}

/* ////////////////////// TEXT BUTTONS ////////////// */
.text-button {
    border-top: 10px solid purple;
    background-color: purple;
    width: 67%;
    height: 69px;
    position: relative;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    color: white;
}

#next-module {
    visibility: hidden;
}

/* ////////////////////// PROGRESS BUTTONS ////////////// */
#previous {
    width: 33%;
    border-top: 10px solid grey;
    background-color: #ddd;
    justify-content: center;
}

#next {
    position: absolute;
    right: 0;
    width: 67%;
    border-top: 10px solid purple;
    background-color: white;
    justify-content: center;
}

#next svg {
    stroke: purple;
}

#previous svg {
    stroke: grey;
}

.nav-button svg {
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    padding: 1em 0;
}

#buttons-container {
    position: fixed;
    bottom: 0;
    display: flex;
    max-width: 400px;
    width: calc(40vw);
    height: 68px;
}

/* ////////////////////////// GLOBAL /////////////////////// */
/* HEADER */
#oe header, #interaction header, #explanation header {
    display: flex;
    justify-content: center;
    grid-area: MenuButton;
}

#oe #returnToMenu, #interaction #returnToMenu, #explanation #returnToMenu {
    margin-top: 20px;
}

#returnToMenu {
    margin: auto;
}

/* BODY */

#oe, #interaction, #explanation {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: auto 3fr;
    grid-template-areas: 'MenuButton Nav' 'Information Image'
}

.common-structure {
    min-height: 100vh
}

/* ///////////////////// INDEX /////////////////////////// */
/* //////////////////// NEW CSS MENU //////////////// */

#case-doctor {
    padding-bottom: 0.5em;
    max-height: 70%;
    right: 100px;
}

body#index {
    display: grid;
    grid-template-rows: 180px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'Header' 'ModuleMenu'
}

section#main-workshop-menu-grid {
    margin: auto;
}

#index header {
    grid-area: Header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end
}

#index #returnToMenu {
    margin: 0;
}

#index-menu {
    display: grid;
    grid-template-rows: 80px 240px 80px;
    grid-template-areas: "pre-workshop-link" "main-workshop-link" "post-workshop-link";
    row-gap: 1em;
}

.menu > a {
    padding: 1em;
    border: 1px solid black;
    
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

#menu-title-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#main-workshop-menu {
    margin: auto;
    grid-area: ModuleMenu;

}

#menu-title-div h1 {
    font-size: 30px;
    text-transform: uppercase;
}

#menu-title-div h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.5em 0;
}

#menu-title-div {
    display: flex;
    flex-direction: row;
}

#shading {
    background-color: #f2f2f2;
    width: 75vw;
    height: 7vh;
    position: absolute;
    top: 24.3vh;

    left: 15vw;

    z-index: -1;
}

#ben{
    color: #9b51e0;
    border-image: linear-gradient(to right, #9b51e0, #bb6bd9 );
    border-image-slice: 1;
}

#ayanthi{
    color: #eb5757;
    border-image: linear-gradient(to right, #f2994a, #eb5757 );
    border-image-slice: 1;
}

#amin{
    color: #2f80ed;
    border-image: linear-gradient(to right, #2f80ed, #56ccf2 );
    border-image-slice: 1;
}

#richardson{
    color: #27ae60;
    border-image: linear-gradient(to right, #6fcf97, #27ae60 );
    border-image-slice: 1;
}

#index #returnToMenu img {
    width: 100px;
    margin-right: 1em;
}

#main-workshop-menu article:nth-of-type(2n) {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 25vw 1fr;
    grid-template-areas: 'Start Profile' 'Story Profile'
}

#main-workshop-menu article img {
    grid-area: Profile;
    height: 100%;
}

#main-workshop-menu article:nth-of-type(2n) img {
    margin-right: auto;
    padding-left: 0.25em;
}

#main-workshop-menu article:nth-of-type(2n+1) img {
    margin-left: auto;
    padding-right: 0.25em;
}

#main-workshop-menu article a {
    grid-area: Start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Josefin Sans', 'sans-serif';
    color: #c4c4c4;
    background-color:#ffffff;
    filter: drop-shadow(0px 8px 16px #cccccc);
    transform: scale(1);
    transition-duration: 0.1s;
}

#main-workshop-menu article a:hover{
    cursor: pointer;
    transform: scale(1.01);
}

#main-workshop-menu article h4 {
    grid-area: Story;
    border-bottom: 7px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
}

#main-workshop-menu article:nth-of-type(2n + 1) {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr 25vw;
    grid-template-areas: 'Profile Start' 'Profile Story';
}

#start-module {
    flex-direction: column;
    align-items: center;
}

#start-module * {
    margin: auto;
}

#start-module h4 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 1em;
    border-bottom: 7px solid;
}

#start-module a {
    padding: 0.8em 1em;
    font-size: 20px;
    width: 150px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    border: none;
    text-decoration: none;
    margin-top: 0;
}

#start-module img {
    max-height: 200px;
    margin: 0 auto;
}

/* ////////////////// INDEX SUB MENUS ////////////////*/
#pre-workshop-menu {
    grid-template-rows: 80px;
    row-gap: 1em;
}

#pre-workshop-link {
    grid-area: pre-workshop-link;
}

#main-workshop-menu {
    grid-template-rows: 20vh 20vh;
    grid-template-columns: 40vw 40vw;
    row-gap: 2em;
    column-gap: 2em;
}

#post-workshop-menu {
    grid-template-rows: 30vh 30vh;
    grid-template-columns: 40vw 40vw;
    row-gap: 1em;
    column-gap: 1em;
}

#main-workshop-link {
    grid-area: main-workshop-link;
}

#post-workshop-link {
    grid-area: post-workshop-link;
}



/* ////////////////////////// HEADER //////////////////// */
#module-name {
    padding-left: 1em;

    margin: 2em 0;
    text-transform: uppercase;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 'Profile Name' 'Profile Stage'
}

#module-name h1 {
    font-size: 24px;
    padding-bottom: 0.5em;
    grid-area: Name;
    display: flex;
    align-self: flex-end;
    padding-left: 20px;
}


#module-name .profile {
    margin: auto;
    grid-area: Profile;
    padding: 0;
}

#module-name h3 {
    font-weight: 200;
    font-size: 16px;
    grid-area: Stage;
    display: flex;
    align-self: flex-start;
    padding-left: 20px;
}

/* //////////////////////// BODY CONTENT /////////////////////////// */


.content h1, .content h2, .content h3, .content h4
.step h1, .step h2, .step h3, .step h4,
.activity h1, .activity h2, .activity h3 {
    font-family: 'Nunito', 'sans-serif';
    font-weight: bold;
}

/* /////////////////// CONTENT STYLES ////////////////////////////// */
.content {
    display: flex;
    flex-direction: column;
    margin-left: 2.5em;
    margin-top: 1em;
}

.content ul, .content p, .content ol {
    padding: 10px 0;
}

.content li {
    padding: 5px 0;
}

/* //////////// CONTENT HALF ///////////////// */

#content-half {
    max-width: 400px;
    width: 40vw;
    grid-area: Information;
}

#content-half img {
    height: 20vh;
    padding: 2.5em 2em 2em 2em;
}

#content-half img.differential-diagnoses {
    padding: 0;
}

h4.differential-diagnoses {
    font-style: italic;
    color: rgb(238, 70, 51);
    font-weight: 800;
    font-family: 'Nunito', 'sans-serif';
    padding-bottom: 1em;
}

/* /////////////// IMAGE HALF /////////////////// */


#image-half {
    max-width: 60vw;
    width: 60vw;
    grid-area: Image;
}



/* ///////////// FOR ACTIVITY AND INTERACTION ////////////////// */
.activity {
    margin-top: 1em;
    flex-direction: column;
}

.case-content {
    visibility: hidden;
}

.module-slide {
    display: none;
    margin: 0 2em;
}

.module-slide .case-content:first-of-type {
    visibility: visible;
}

.module-slide p {
    padding: 0.5em 0;
}

.module-slide h1 {
    margin: 0 0 0.5em 0;
}


/* //////////////////// NAVIGATION TAB //////////////// */
#navigation-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: Nav;
}

#navigation-tab, #oe header, #interaction header, #explanation header {
    background-color: #e7e7e7;
    border-bottom: 5px solid purple;
}

#navigation-tab a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #c4c4c4;
    transition-duration: 0.2s;
    cursor: pointer;
}

#navigation-tab a:hover {
    color: black;
}


/* /////////// DIV FOR MODEL TO RENDER IN //////////// */

#heart-model:focus {
    outline-width: 0;
}

.model-label {
    padding:  0.5em 0.75em;
    background-color: white;
}

.model-label::after {
    content: "";
    position: absolute;
    top: 99%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

/* ////////// STEPS/INSTRUCTIONS FOR HOW TO INTERACT ////////////// */
.step {
    display: none;
    flex-direction: column;
}

.step strong {
    font-size: 18px;
    font-weight: 700;
}

.step:first-of-type {
    display: flex;
}

/* //////////////// MODEL TOGGLES (DEPENDS ON WHAT WE NEED THIS WILL CHANGE) ////////////////// */
#toggles {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    margin-bottom: 1em;
}

/* CHANGED THIS FOR THE TOGGLE LABEL */
h5 {
    font-weight: 400;
    font-size: 14px;
    margin: -15px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#model-toggles {
    margin: 1em 0;
}

input:checked + label[for="on"] {
    background-color: #54d160;
}

input {
    width: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

label:first-of-type {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #ddd;
}

label:last-of-type {
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #eeeeee;
}

label {
    background-color: #eeeeee;
    padding: 0.3em 1em;
    font-size: 16px;
}

label:hover {
    background-color: #eeeeee;
}

input:checked + label {
    background-color:black;
    color: white;
}

label[for="segments"]{
    position: relative;
    right: 11px;
}

label[for="realistic"] {
    position: relative;
    right: 23px;
}

label[for="off"] {
    position: relative;
    right: 12px;
}

/* ///////////////// PLACEHOLDER and IMAGES //////////////// */

.chest-xr {
    width: 100%;
    padding: 0;
}

#case-content-button {
    display: flex;
    margin: auto;

}

#case-content-button img{
    width: 50px;
    padding: 0;
    z-index: 10;
    margin-left: -2em;
    position: absolute;
    bottom: 10vh;

}


/* ////////////////// INTERACTION: REVIEW INFORMATION MODAL ///////////////////// */
.no-modal {
    display: none;
}

.show-modal {
    background-color: black;
    opacity: 0.75;
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-template-columns: 180px 110px 1fr;
    grid-template-areas: "Examination ChestXR ." "Information Information Information";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#modal {
    margin: auto;
    width: 30vw;
    height: 60vh;
    opacity: 1;
    background-color: transparent;
    border-radius: 12px;
    position: fixed;
    top: 18vh;
    left: 5vw;
}

#on-examination-review {
    grid-area: Examination;
    background-color: white;
    color: purple;
    padding: 0.8em;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
}

#chest-xr-review {
    grid-area: ChestXR;
    background-color: purple;
    color: white;
    padding: 0.8em;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
}

#on-examination-review:hover, #chest-xr-review:hover {
    cursor: pointer;
}

#on-examination-review-content {
    flex-direction: column;
}

#on-examination-review-content h4 {
    margin: 1em 0 0.5em 0;
}

#on-examination-review-content li {
    padding: 0.1em 0;
}
#on-examination-review-content ul {
    padding-top: 0.5em;
}

#on-examination-review-content, #chest-xr-review-content {
    grid-area: Information;
    background-color: white;
    color: black;
    text-align: left;
    padding: 1em;
    padding-bottom: 2.5em;
    overflow-y: auto;
}

#chest-xr-review-content {
    display: none;
}

#chest-xr-review-content img {
    height: 100%;
    width: auto;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////// MEDIA QUERIES START HERE ////////////////////////////////////////*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    /* STYLES GO HERE */ 
}