@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,423&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

p, ul, ol, li, button, a {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}
/* //////////////// SWAL /////////////////// */
button.swal2-confirm.swal2-styled {
    /* background-color: #595959; */
}

button.swal2-styled {
    /* font-weight: 600;
    border-radius: 3px; */
}

/* //////////////// TOP LEFT BUTTONS //////////////// */
button {
    background-color: transparent;
    border: none;
    /* padding-right: 24px; */
    padding: 0;
}

.back path {
    transform: scale(1.5)
}

/* ////////////////////// TEXT BUTTONS ////////////// */
.text-button {
    /* padding: 0.8em 1.6em;
    background-color: black;
    border-radius: 3em;
    color: white;
    font-size: 16px;
    position: fixed;
    bottom: 4em;
    right: 4em; */
    border-top: 10px solid purple;
    background-color: #ddd;
    width: 67%;
    height: 69px;
    position: relative;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    color: purple;
}

/* ////////////////////// PROGRESS BUTTONS ////////////// */
#previous {
    /* position: absolute; */
    /* margin-right: 100%; */
    width: 33%;
    border-top: 10px solid grey;
    background-color: #ddd;
    justify-content: center;
}

#next {
    /* position: relative; */
    width: 67%;
    border-top: 10px solid purple;
    background-color: white;
    justify-content: center;
}

#next svg {
    stroke: purple;
}

.nav-button svg {
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    padding: 1em 0;
}

#previous svg {
    stroke: grey;
}

#buttons-container {
    position: fixed;
    bottom: 0;
    display: flex;
    max-width: calc(360px + 2.5em);
    width: calc(40vw + 2.5em);
    margin-left: -2.5em;
    height: 68px;
}

#next-module {
    visibility: hidden;
}

.content {
    display: flex;
    flex-direction: column;
}

.content ul, .content p, .content ol {
    padding: 10px 0;
}

.content li {
    padding: 5px 0;
}

/* /////////////////// DISPLAY AND VISIBILITY STATES CLASSES /////////////////// */
.none {
    display: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.disabled {
    visibility: hidden;
}

.enabled {
    visibility: visible;
    display: flex;
}

/* ////////////////////////// GLOBAL /////////////////////// */
/* BODY */

.common-structure {
    /* margin: 2em; */
    min-height: 100vh
}

/* ////////////////////////// HEADER //////////////////// */
header {
    /* display: flex; */
}

#module-name {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    border-left: 4px solid #c4c4c4;
}

#module-name {
    margin: 0;
    text-transform: uppercase;
}

#module-name h1 {
    font-size: 32px;
}

#module-name h3 {
    font-weight: 200;
}

h3 {
    font-size: 18px;
}

/* CHANGED THIS FOR THE TOGGLE LABEL */
h5 {
    font-weight: 400;
    font-size: 14px;
    margin: -15px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////// NEW CSS MENU CLASS //////////////// */

#case-doctor {
    max-width: 500px;
}

body#index {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'Header' 'ModuleMenu'
}

section#main-workshop-menu-grid {
    margin: auto;
}

#index header {
    grid-area: Header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
}

#index #returnToMenu {
    margin: 0;
}

#menu-title-div {
    display: flex;
    flex-direction: row;
}

#main-workshop-menu {
    margin: auto;
    grid-area: ModuleMenu;

}

#returnToMenu h1 {
    display: flex;
    flex-direction: column;
}

#returnToMenu {
    display: flex;
    flex-direction: row;
}

#main-workshop-menu article:nth-of-type(2n) {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 25vw 1fr;
    grid-template-areas: 'Start Profile' 'Story Profile'
}

#main-workshop-menu article img {
    grid-area: Profile;
    height: 100%;
}

#main-workshop-menu article:nth-of-type(2n) img {
    margin-right: auto;
}

#main-workshop-menu article:nth-of-type(2n+1) img {
    margin-left: auto;
}

#main-workshop-menu article a {
    grid-area: Start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Josefin Sans', 'sans-serif';
}

#main-workshop-menu article h4 {
    grid-area: Story;
    border-bottom: 8px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
}

#main-workshop-menu article:nth-of-type(2n + 1) {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr 25vw;
    grid-template-areas: 'Profile Start' 'Profile Story'
}

#start-module * {
    margin: auto;
}

/* //////////////////// NEW CSS OE //////////////// */
#navigation-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #eeeeee; */

    /* position: fixed;
    top: 0;
    width: 100vw;
    margin-left: -32px;
    padding: 0.75em 0 ; */
    /* margin-left: auto; */
    grid-area: Nav;
}

#navigation-tab, #oe header, #interaction header {
    background-color: #e7e7e7;
    border-bottom: 5px solid purple;
}

#navigation-tab a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #c4c4c4;
    transition-duration: 0.2s;
    cursor: pointer;
}

#navigation-tab a:hover {
    color: black;
}

#returnToMenu {
    /* grid-area: Menubutton; */
    margin: auto;
}

#content-half {
    max-width: 360px;
    width: 40vw;
    grid-area: Information;
    margin-left: 2.5em;
}

#image-half {
    max-width: 40vw;
    width: 40vw;
    grid-area: Image;
}

#oe header {
    /* grid-area: Nav; */
    grid-area: MenuButton;
}

#oe, #interaction {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'MenuButton Nav' 'Information Image'
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////// INDEX MENU ////////////////// */
#index-menu {
    display: grid;
    grid-template-rows: 80px 240px 80px;
    grid-template-areas: "pre-workshop-link" "main-workshop-link" "post-workshop-link";
    row-gap: 1em;
}

.menu > a {
    padding: 1em;
    border: 1px solid black;
    
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

/* ////////////////// INDEX SUB MENUS ////////////////*/
#pre-workshop-menu {
    grid-template-rows: 80px;
    row-gap: 1em;
}

#pre-workshop-link {
    grid-area: pre-workshop-link;
}

#main-workshop-menu {
    grid-template-rows: 20vh 20vh;
    grid-template-columns: 40vw 40vw;
    row-gap: 2em;
    column-gap: 2em;
}

#post-workshop-menu {
    grid-template-rows: 30vh 30vh;
    grid-template-columns: 40vw 40vw;
    row-gap: 1em;
    column-gap: 1em;
}

#main-workshop-link {
    grid-area: main-workshop-link;
}

#post-workshop-link {
    grid-area: post-workshop-link;
}

/* ///////////// FOR INFORMATION SLIDES ONLY /////////////////// */
.content {
    /* margin-left: 54px; */
    margin-top: 2em;
    flex-direction: column;
}

/* ///////////// FOR ACTIVITY AND INTERACTION ////////////////// */
.activity {
    margin-left: 54px;
    margin-top: 1em;
    flex-direction: column;
}

.case-content {
    visibility: hidden;
}

.module-slide {
    display: none;
}

.module-slide .case-content:first-of-type {
    visibility: visible;
}



.module-slide h1 {
    margin: 0 0 0.5em 0;
}

/* /////////////// NAVIGATION TAB LOCATED AT THE BOTTOM OF THE SCREEN /////////////// */


/* /////////////// UNORDERED LISTS /////////////// */
ul {
    /* margin-left: -40px; */
    list-style-type: disc;
}

li {
    margin-left: 28px;
}

/* /////////// DIV FOR MODEL TO RENDER IN //////////// */
#heart-model  {
    width: 74vw;
    height: 40vw;
    position: relative;
}

#heart-model:focus {
    outline-width: 0;
}

.model-label {
    padding:  0.5em 0.75em;
    background-color: white;
}

.model-label::after {
    content: "";
    position: absolute;
    top: 99%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

/* ////////// STEPS/INSTRUCTIONS FOR HOW TO INTERACT ////////////// */
.step {
    display: none;
    flex-direction: column;
}

.step strong {
    margin-left: -20px;
    font-size: 18px;
}

.step:first-of-type {
    display: flex;
}

/* //////////////// MODEL TOGGLES (DEPENDS ON WHAT WE NEED THIS WILL CHANGE) ////////////////// */
#toggles {
    display: flex;
    flex-wrap: nowrap;
}

#model-toggles {
    margin: 1em 0;
}

input:checked + label[for="on"] {
    background-color: #54d160;
}

input {
    width: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

label:first-of-type {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #ddd;
}

label:last-of-type {
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #eeeeee;
}

label {
    background-color: #eeeeee;
    padding: 0.3em 1em;
    font-size: 16px;
}

label:hover {
    background-color: #eeeeee;
}

input:checked + label {
    background-color:black;
    color: white;
}

label[for="segments"]{
    position: relative;
    right: 11px;
}

label[for="realistic"] {
    position: relative;
    right: 23px;
}

label[for="off"] {
    position: relative;
    right: 12px;
}



/* ///////////////// PLACEHOLDER and IMAGES //////////////// */

.chest-xr {
    max-width: 100%;
}

#case-content-button {
    margin-left: auto;

    z-index: 10;
}

#case-content-button img{
    width: 50px;
}


/* ////////////////// INTERACTION: REVIEW INFORMATION MODAL ///////////////////// */

.no-modal {
    display: none;
}

.show-modal {
    background-color: black;
    opacity: 0.75;
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-template-columns: 170px 110px 1fr;
    grid-template-areas: "Examination ChestXR ." "Information Information Information";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#modal {
    margin: auto;
    width: 80vw;
    height: 60vh;
    opacity: 1;
    background-color: transparent;
    border-radius: 12px;
    position: fixed;
    top: 18vh;
    left: 10vw;
}

#on-examination-review {
    grid-area: Examination;
    background-color: black;
    color: white;
    padding: 0.8em;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

#chest-xr-review {
    grid-area: ChestXR;
    background-color: grey;
    color: white;
    padding: 0.8em;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

#on-examination-review:hover, #chest-xr-review:hover {
    cursor: pointer;
}

#on-examination-review-content {
    flex-direction: column;
}

#on-examination-review-content h4 {
    margin-top: 2.5em;
}

#on-examination-review-content, #chest-xr-review-content {
    grid-area: Information;
    background-color: black;
    color: white;
    text-align: left;
    padding: 1em;
    overflow-y: auto;
}

#chest-xr-review-content {
    display: none;
}

#chest-xr-review-content img {
    height: 100%;
    width: auto;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////// MEDIA QUERIES START HERE ////////////////////////////////////////*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
    /* STYLES GO HERE */ 

}